/src/ExamenParcial1/build/
/src/ExamenParcial1/nbproject/private/
/src/HEURISTICA Y METAHEURISTICA/metaheuristic(1)/metaheuristic/build/
/src/HEURISTICA Y METAHEURISTICA/metaheuristic(1)/metaheuristic/nbproject/private/
/src/HEURISTICA Y METAHEURISTICA/Meta/metaheuristic/build/
/src/HEURISTICA Y METAHEURISTICA/Meta/metaheuristic/nbproject/private/
/src/HEURISTICA Y METAHEURISTICA/Metaheuristica/metaheuristic/build/
/src/HEURISTICA Y METAHEURISTICA/Metaheuristica/metaheuristic/nbproject/private/
/dist/